@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/* header section */
.header-cont{
    min-height: 130px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.logo-cont{
    width: 50%;
    display: flex;
    align-items: center;
}
.logo-cont img{
    width: 80px;
}
.logo-cont h1{
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
    margin-left: 15px;
}
.g{
    color: #FF42A5;
}
.nav-cont{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.nav-cont a{
    color: #3C354F;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 30px;

}
.follow{
    width: 260px;
    height: 56px;
    background-color: #D8D8D8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    margin-left: 30px;
}
.follow a{
    margin-left: 0px;
    font-size: 1.3rem;
}
/* buttons */
.btn-1{
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #FF42A5;
    padding: 20px 40px;
    border: none;
    border-radius: 45px;
}
.btn-2{
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #4EC5F7;
    padding: 20px 40px;
    border: none;
    border-radius: 45px;
    margin-left: 20px;
    
}
.btn-3{
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #FF42A5;
    padding: 20px 40px;
    border: none;
    border-radius: 45px;
}
/* goat section  */

.goat-full{
    background-image: url(../images/Group-14.png), linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: left;
}
.goat-cont{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.goat-content{
    width: 50%;
    height: 100%;
    font-size: 10px;
}
.goat-content h4{
    font-size: 5em;
    font-weight: 600;
    color: #0B0223;
}
.goat-content h1{
    font-size: 9em;
    font-weight: 800;
    background-image: linear-gradient(to bottom, #F948B2 10%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.goat-content p{
    color: #534C64;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 40px;
}
.goat-img{
    width: 50%;
    height: 100%;
}
.goat-img img{
    width: 100%;
}
/* gamer section  */

.gamer-full{
    background-color: #FEF1FA;
}
.gamer-cont{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gamer-content{
    text-align: right;
}
.gamer-content h1{
    font-size: 45px;
    font-weight: 700;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-blend-mode: overlay;
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 20px;
}
.gamer-content p{
    font-size: 20px;
    font-weight: 500;
    color: #534C64;
    margin-bottom: 20px;
}
.gamer-content h4{
    margin-top: 20px;
}
/* cart section  */
.cart-cont{
    max-width: 1400px;
    margin: 100px auto;
}
.cart-img{
    opacity: 1;
    display: block;
}
.cart-hover{
    transition: .3s ease;
    opacity: 0;
    background-color: black;
    position: absolute;
    width: 342px;
    height: 400px;
    top: 50%;
    left: 50%;
    border-radius: 20PX;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.hover-cont{
    position: relative;
    width: 350px;
    height: 410px;
    border-radius: 20px;
}
.hover-cont:hover .cart-img{
    opacity: 0.5;
    border: 5px solid #F948B2;
    border-radius: 20px;
}
.hover-cont:hover .cart-hover{
    opacity: 0.8;
}
.cart-hover h5{
    color: aliceblue;
    font-size: 30px;
    margin-top: 10px;
    font-weight: 800;
}
.cart-hover i{
    color: antiquewhite;
    font-size: 60px;
    margin-top: 130px;
}
.cart-cont h1{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.text-color{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.cart-cont p{
    font-size: 20px;
    color: #534C64;
    text-align: center;
    margin-bottom: 40px;
}
.cart-content{
    display: flex;
    justify-content: space-between;
}
.cart-item{
    width: 342px;
    height: 500px;
}
.cart-item p{
    text-align: left;
    margin-top: 10px;
    font-weight: 500;
    color: #534C64;
}
/* ad section  */
.ad-cont{
    max-width: 1400px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ad-content h1{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    padding-right: 100px;
}
.ad-content p{
    text-align: right;
    padding-right: 100px;
    font-size: 18px;
}
.add-img{
    width: 50%;
}
.ad-small{
    position: relative;
    margin-top: -280px;
}
.ad-big{
    margin-left: 145px;
}
/* title button style  */
.titel-sec{
    background-color: #FFF9FC;
}
.title-cont{
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 120px auto;
}
.title{
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px black;
}
.title:hover{
    color: white;
    background-color: #F948B2;
}
.title p{
    padding: 29px 10px 29px;
    color: #0B0223;
}
/* footer style  */
.footer{
    background-color: #0B0223;
}
.f-h1{
    color: white;
}
.footer-cont{
    max-width: 1400px;
    margin: 120px auto 0px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.f-logo{
    text-align: center;
}
.footer-nav{
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

}
.footer-icon{
    display: flex;
    justify-content: center;
}
.footer-icon a i{
    font-size: 40px;
    margin-top: 50px;
    margin-left: 20px;
}
.footer-policy{
    display: flex;
    justify-content: center;

}
.footer-policy p{
    color: aliceblue;
    margin-top: 50px;
    margin-left: 20px;
}
.copy{
    color: wheat;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.f-logo{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
