@media screen and (max-width: 576px) {
    .header-cont{
        flex-direction: column;
        justify-content: center;
        gap: 62px;
        margin-top: 100px;
    }
    .nav-cont{
        flex-direction: column;
        gap: 36px;
        text-align: center;
    }
    /* goat section  */
    .goat-full{
        background-image: none;
        margin-top: 30px;
    }
    .goat-cont{
        flex-direction: column-reverse;
    }
    .goat-content{
        width: 80%;
        font-size: 5px;
        justify-content: center;
        background-image: url(../images/Group-14.png);
        background-position: left;
        background-size: 100%;
    }
    .goat-img{
        width: 80%;
        justify-content: center;
        text-align: center;
    }
    .goat-content p{
        margin: 10px 0 10px 70px;
    }
    .goat-content h4{
        margin-top: 40px;
        margin-left: 70px;
    }
    .goat-content button{
        padding: 10px 20px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .goat-content h1{
        margin-left: 70px;
    }
    .btn-1{
        margin-left: 70px;
    }
    .btn-2{
        margin-left: 10px;
    }
    /* gamer section  */
    .gamer-cont{
        flex-direction: column;
    }
    .gamer-img{
        /* max-width: 576px; */
        max-width: 425px;
    }
    .gamer-img img{
        width: 90%;
        margin-left: 30px;
    }
    .gamer-full{
        background-color: white;
    }
    .gamer-content{
        /* max-width: 576px; */
        max-width: 425px;
        text-align: center;
    }
    .gamer-content h1{
        font-size: 35px;
        width: 80%;
        margin: 10px auto;
    }
    .gamer-content p{
        font-size: 16px;
        text-align: center;
        width: 70%;
        margin: 20px auto;
    }
    .btn-3{
        font-size: 15px;
        padding: 10px 20px;
        margin-top: 20px;
    }
    /* cart section  */
    .cart-cont{
        /* max-width: 576px; */
        max-width: 425px;
        padding: 10px auto;
        margin: 50px auto;
    }
    .cart-cont h1{
        margin: 0 auto;
    }
    .cart-cont p{
        margin: 0 auto;
    }
    .cart-cont h1 ,p{
        width: 80%;
    }
    .cart-content{
        flex-direction: column;
    }
    .cart-item{
        margin: 0px auto;
    }
    /* ad section  */
    .ad-cont{
        margin: 0px auto;
        flex-direction: column;
        visibility: hidden;
        display: none;
    }
    .ad-content{
        width: 80%;
        margin: 10px;
        text-align: center;
    }
    .add-img{
        /* max-width: 576px; */
        max-width: 425px;
        margin: 10px ;
        justify-content: center;
    }
    .add-img img{
        margin-left: 0px;
    }
    /* title section  */
    .title p{
        padding: 16px 6px 16px;
        color: #0B0223;
        font-size: 10px;
    }
    .title img{
        width: 20px;
    }
    /* footer section  */
    .footer{
        max-width: 576px;

    }
    .footer-nav{
        width: 80%;
        margin: 40px auto 0px;
        display: grid;
        grid-template-columns: repeat(3, .5fr);
        gap: 10px;
    }
    .footer-nav p{
        text-align: center;
    }
    .footer-icon{
        width: 60%;
        margin: 40px auto 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-icon a{
        text-align: center;
    }
    .footer-policy{
        width: 70%;
        margin: 40px auto 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:20px;
    }
    .footer-policy p{
        text-align: center;
    }
    .copy p{
        text-align: center;
    }
}